
#outer {	
	border : 2px solid black;
	width: 100px;
	height: 25px;
	border-radius: 20px;
	margin: 10% 50% 0 45%;

}

#inner {
	width: 20px;
	height: 23px;
	border-radius: 100%;
	background-color:black;
	margin: 1px 0 0 1px;	

}
#heading {
	position: relative;
	bottom: 50%;
	left: 35%;
	color: black;
}


/*#togglebtn{
	-webkit-appearance:none;
	position: relative;
	outline:none;
	height: 40px;
	width: 100px;
	background-color: "white";
	border: 5px solid black;
	border-radius: 20px;
}

#togglebtn:before {
	content: "";
	position: absolute;
	background-color: black;
	height: 30px;
	width: 50px;
	border-radius: 20px;
}*/